In [1]:
# Variable 'x' stores the integer value 10
x = 5

# Variable 'name' stores the string "Rahul"
name = "Rahul"  

print(x)
print(name)

5
Rahul

# Rules for Naming Variables
<ul>
<li>Variable names can only contain letters, digits and underscores (_).</li>
<li>A variable name cannot start with a digit.</li>
<li>Variable names are case-sensitive (myVar and myvar are different).</li>
<li>Avoid using Python keywords (e.g., if, else, for) as variable names.</li>
</ul>

In [2]:
# Valid 
age = 21
_colour = "lilac"
total_score = 90

In [3]:
# Invalid
1name = "Error"  # Starts with a digit
class = 10       # 'class' is a reserved keyword
user-name = "Doe"  # Contains a hyphen

SyntaxError: invalid decimal literal (1626757143.py, line 2)

# Dynamic Typing
Python variables are dynamically typed, meaning the same variable can hold different types of values during execution.
```
x = 10
x = "Now a string"
```

# Multiple Assignments
Python allows multiple variables to be assigned values in a single line.

## Assigning the Same Value
Python allows assigning the same value to multiple variables in a single line, which can be useful for initializing variables with the same value.

In [5]:
a = b = c = 100
print(a, b, c)

100 100 100

# Assigning Different Values
We can assign different values to multiple variables simultaneously, making the code concise and easier to read.

In [6]:
x, y, z = 1, 2.5, "Python"
print(x, y, z)

1 2.5 Python

In [7]:
# Type Casting 
# Casting variables
s = "10"  # Initially a string
n = int(s)  # Cast string to integer
cnt = 5
f = float(cnt)  # Cast integer to float
age = 25
s2 = str(age)  # Cast integer to string

# Display results
print(n)  
print(f)  
print(s2)

10
5.0
25

In [8]:
# Type of variables
n = 42
f = 3.14
s = "Hello, World!"
li = [1, 2, 3]
d = {'key': 'value'}
bool = True

print(type(n))   
print(type(f)) 
print(type(s))   
print(type(li))     
print(type(d))     
print(type(bool))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class 'bool'>

# Delete a Variable Using del Keyword
We can remove a variable from the namespace using the del keyword. This effectively deletes the variable and frees up the memory it was using.

In [9]:
# Assigning value to variable
x = 10
print(x) 

# Removing the variable using del
del x

# Trying to print x after deletion will raise an error
print(x)

10

NameError: name 'x' is not defined

# Some Examples

In [10]:
# Swapping of two numbers
a, b = 5, 10
a, b = b, a
print(a, b)

10 5

In [11]:
# Counting characters of string
word = "Python"
length = len(word)
print("Length of the word:", length)

Length of the word: 6